
@import url('menu.css');
html, body {
    padding: 0;
    margin: 0;
    background-image: url("/imgs/bg.png");
}

.project-page-main {
    margin-left: 70px;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
}

.current-image {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.tbthumb {
    width: 100px;
    table-layout: fixed;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.next-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    bottom: 10px;
    left: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all .5s;
}

    .next-list li {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100px;
        min-width: 100px;
        height: 51px;
        margin: 0 5px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        transition: all .5s;
        border: 5px solid white;
    }



.image-of-list {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all .5s;
}

.current-image-list {
    opacity: 1;
    transition: all .5s;
}

/*.arrow {
                   width: 50px;
                   height: 100px;
                   bottom: 10px;
                   flex: 1;
                   text-align: center;
                   line-height: 50px;
                   color: #FFF;
                   cursor: pointer;
                   z-index: 2;
               }*/


.arrow-left {
}

.arrow-right {
}

/*
        * Animations
        */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.slideInFromLeft {
    animation: slideInFromLeft .5s ease-in-out;
}

.slideInFromRight {
    animation: slideInFromRight .5s ease-in-out;
}

.fadeIn {
    animation: fadeIn .5s ease-in-out;
}
/*</style>
    <style type="text/css">*/
.button {
    background: transparent;
    color: #fff;
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font: 20px "Margarine", sans-serif;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
}

.button-rainbow {
    z-index: 1;
    position: relative;
    top: 2em;
    margin: 0 auto;
    height: 50px;
}

    .button-rainbow .button {
        animation: rainbow 3s infinite, heartbeat 0.6s infinite;
        background: #c0392b;
    }

        .button-rainbow .button .rainbow {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: -40px;
            transition: 0.5s ease;
            opacity: 0;
            transform: rotate(0);
        }

            .button-rainbow .button .rainbow:before {
                content: "🌈";
                left: 0;
            }

        .button-rainbow .button:hover .rainbow {
            opacity: 1;
            animation: rotate-nonstop 0.2s infinite;
        }

        .button-rainbow .button + .name {
            color: #444;
        }

@keyframes rotate-nonstop {
    50% {
        transform: rotate(92deg);
    }
}

@keyframes omg-yes {
    50% {
        opacity: 1;
    }

    100% {
        top: -50px;
    }
}

@keyframes rainbow {
    0% {
        background: #1abc9c;
    }

    10% {
        background: #2ecc71;
    }

    20% {
        background: #3498db;
    }

    30% {
        background: #9b59b6;
    }

    40% {
        background: #e74c3c;
    }

    50% {
        background: #e67e22;
    }

    60% {
        background: #f1c40f;
    }

    70% {
        background: #2c3e50;
    }

    80% {
        background: #9b59b6;
    }
}

@keyframes heartbeat {
    50% {
        transform: scale(1.1);
    }
}


.button-typewriter p {
    animation: typing 4s steps(12) infinite;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.button-typewriter .button__wrapper:hover p {
    animation: blink 0.3s infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    55%, 65%, 75% {
        opacity: 1;
    }

    60%, 70% {
        opacity: 0;
    }

    80% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

/* Starburst 3 */
.kmribbon {
    position: absolute !important;
    z-index: 50000000;
    top: 20%;
    left: 2em;
    font-family: Arial, sans-serif;
    font-size: 1em;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: rotate(-67.5deg);
    -moz-transform: rotate(-67.5deg);
    rotation: -67.5deg;
    width: 6em;
    height: 6em;
}

.starburst3 {
    display: block;
    width: 6em;
    height: 6em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: #475ae4;
    opacity: 0.6;
}

    .starburst3 span {
        display: block;
        width: 6em;
        height: 6em;
        background: #00e530;
        -webkit-transform: rotate(11.25deg);
        -moz-transform: rotate(11.25deg);
        rotation: 12.5deg;
    }

.kmribbon:hover span:not(.dis) {
    background: #00f3ff;
}

.kmribbon:hover {
    left: 2.5em;
    top: 18%;
}

.kmribbon .dis {
    display: block;
    width: 6em;
    height: 6em;
    position: absolute;
    color: yellow;
    -webkit-transform: rotate(11.25deg);
    -moz-transform: rotate(11.25deg);
    rotation: 12.5deg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prev-button, .next-button {
    background-color: rgba(0,0,0,.4);
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    outline: none;
    padding: 10px;
    transition: all .15s ease-in-out;
    width: 30px;
    margin: auto;
}

    .prev-button:hover, .next-button:hover {
        background-color: rgba(0,0,0,.5);
    }

.tbthumb svg {
    fill: #fff;
}
